/26.07.23-1001-Microsoft-Lens.pdf
/7-8.pdf
/account_statement.pdf
/Charge_density_and_plasmon_modes_in_a_triangular_q.pdf
/COA1710_2303555.pdf
/CV_Gagnidze.pdf
/DCIM
/desktop.ini
/Extendend_Abstract_Gagnidze.docx
/Final_Program_JAPMED12.pdf
/Gviniashvli_passport.pdf
/INVITATION JAPMED36_თორნიკე გაგნიძე.pdf
/Japmed2023
/Jobs
/JQE2010-46-970.pdf
/Microsoft Edge.lnk
/Notepad++.lnk
/payment.pdf
/Physics
/poster.pdf
/Poster_gagnidze_2023.pdf
/python
/Python ka.pdf
/rsr
/saloma
/salomasnaxatebi.png
/salomeBudget.ods
/Texmaker.lnk
/Tgagnidze_pyBultIN.pdf
/Tornike - Chrome.lnk
/Tornike Gagnidze    ლაბ. Gr_2 (1).xlsx
/Tornike Gagnidze.pdf
/TornikeGagnidze.pdf
/Visual Studio Code.lnk
/თ. გაგნიძე - ცნობა.pdf
/კაები
/საბეჭდალი